In [47]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.0/250.0 kB 783.3 kB/s eta 0:00:00a 0:00:01
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

In [1]:
import pandas as pd
import kaggle
import zipfile

/Users/olakabrandon/Documents/Personal projects/London_bike_sharing/bike-env/lib/python3.9/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /Users/olakabrandon/.kaggle/kaggle.json'

In [2]:
!kaggle datasets download -d hmavrodiev/london-bike-sharing-dataset

/Users/olakabrandon/Documents/Personal projects/London_bike_sharing/bike-env/lib/python3.9/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(
Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /Users/olakabrandon/.kaggle/kaggle.json'
london-bike-sharing-dataset.zip: Skipping, found more recently modified local copy (use --force to force download)

In [30]:
!kaggle datasets download -d hmavrodiev/london-bike-sharing-dataset

/Users/olakabrandon/Documents/Personal projects/London_bike_sharing/bike-env/lib/python3.9/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(
Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /Users/olakabrandon/.kaggle/kaggle.json'
Downloading london-bike-sharing-dataset.zip to /Users/olakabrandon/Documents/Personal projects/London_bike_sharing
100%|█████████████████████████████████████████| 165k/165k [00:00<00:00, 212kB/s]
100%|█████████████████████████████████████████| 165k/165k [00:00<00:00, 211kB/s]

In [31]:
zipfile_name = 'london-bike-sharing-dataset.zip'
with zipfile.ZipFile(zipfile_name, 'r') as file:
    file.extractall()

In [32]:
# Read the csv file as a pandas dataframe
bikes = pd.read_csv('london_merged.csv')

In [34]:
# create copy of dataset
bikes1 = bikes.copy()

In [35]:
# Explore the data
bikes1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [36]:
bikes1.shape

(17414, 10)

In [37]:
bikes1.head()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [38]:
# Count the unique values in the 'weather_code' column
bikes1.weather_code.value_counts()

weather_code
1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: count, dtype: int64

In [39]:
# Count unique values for the seasons
bikes1.season.value_counts()

season
0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: count, dtype: int64

In [40]:
# Specifying the column names that I would like to be used using a dictonary
new_cols_dict = {
    'timestamp': 'time',
    'cnt': 'count',
    't1': 'temp_real_C',
    't2': 'temp_feels_like_C',
    'hum': 'humidity_percent',
    'wind_speed': 'wind_speed__kph',
    'weather_code': 'weather',
    'is_holiday': 'is_holiday',
    'is_weekend': 'is_weekend',
    'season': 'season'
}

# Renaming the columns to the specified column names
bikes1.rename(new_cols_dict, axis=1, inplace=True)

In [42]:
# Changing humidity values to percentages (between 0 and 1)
bikes1.humidity_percent = bikes1.humidity_percent / 100

In [43]:
# Creating a season dictionary to map integers to actual seasons
season_dict = {
    '0.0': 'spring',
    '1.0': 'summer',
    '2.0': 'autumn',
    '3.0': 'winter'
}

# Creating weather dictionary to map integers to actual weather
weather_dict = {
    '1.0': 'Clear',
    '2.0': 'Scattered_clouds',
    '3.0': 'Broken_clouds',
    '4.0': 'Cloudy',
    '5.0': 'Rain',
    '6.0': 'Rain with thunderstorm',
    '7.0': 'Snowfall'
}

# changing the season column to string
bikes1.season = bikes1.season.astype('str')
# changing the values 0-3 to seasons
bikes1.season = bikes1.season.map(season_dict)

# changing the weather column to string
bikes1.weather = bikes1.weather.astype('str')
# changing the values 0-3 to weather
bikes1.weather = bikes1.weather.map(weather_dict)

In [44]:
# checking that the transformation worked
bikes1.head()

,time,count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed__kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Broken_clouds,0.0,1.0,winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Clear,0.0,1.0,winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Clear,0.0,1.0,winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Clear,0.0,1.0,winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Clear,0.0,1.0,winter

In [45]:
bikes1.season.value_counts()

season
spring    4394
summer    4387
winter    4330
autumn    4303
Name: count, dtype: int64

In [48]:
# write the final dataframe into an excel file that we'll use for Tableau
bikes1.to_excel('london_bikes_final.xlsx', sheet_name='Data')